@import url('https://fonts.googleapis.com/css?family=Audiowide');

.currencies{
  list-style: none;
  font-family: 'Audiowide', 'Courier New', Courier, monospace;
  width: 150px;
}

#remove {
  float: right;
  cursor: pointer;
}

.currency_container {
  display: flex;
  justify-content: center;
}

.currency_container ul {
  padding: 0;
}